GITHUB_TOKEN=your_github_token_here
MARIADB_ROOT_PASSWORD=your_mariadb_root_password_here
MARIADB_DATABASE=sfsis
JWT_SECRET=your_jwt_secret_here

# UVICORN configuration
UVICORN_HOST=127.0.0.1
UVICORN_PORT=5000
UVICORN_PORT_SSL=5443

FRONTEND_PORT=8000
FRONTEND_PORT_SSL=8443